h1 {
    color: black;
    text-align: center;
    font-family: "Abril Fatface";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: black;
    text-align: center;
    font-family: Actor;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 { 
    color: white;
    text-align: center;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    font-family: "Abril Fatface";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding: 40px 0;
    max-width: 340px;
    max-height: 180px;;
}
}

p {
    color: black;
    text-align: center;
    font-family: Actor;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* home page */

.about {
    background: url('about me.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-bottom: 20px;
    
}

.portfolio {
    background: url('IMG_7169 1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-bottom: 20px;
}

.seniors {
    background: url('Seniors.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-bottom: 20px;
}


.sports {
    background: url('Sports.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-bottom: 20px;
}

.couples {
    background: url('IMG_7168 1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-bottom: 20px;
}

.families {
    background: url('IMG_7168 1-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-bottom: 20px;
}

.individuals {
    background: url('Individuals.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-bottom: 20px;
}